.css-module {
  background-color: yellow;
  color: red;

  h2 {
    background-color: tomato;
    color: yellowgreen;
  }

  .content {
    background-color: green;
    color: tomato;
  }

  .date {
    background-color: violet;
    color: purple;
  }
}
